<div class="flex justify-center">
  <div class="absolute w-full px-6 -translate-y-3/4 z-20 max-w-[900px]">
    <spartan-card>

      @if (this.country()) {
        <div class="w-full text-xl flex justify-between items-center min-h-20 0 sm:justify-center sm:items-center auto-animate">

          <div class="w-full flex flex-col sm:flex-row h-full sm:items-center auto-animate justify-between sm:justify-start">

            <div class="sm:mt-0 sm:flex sm:flex-col sm:items-start sm:mr-10 auto-animate">
              <p class="text-xl sm:text-xl font-bold">{{this.country()?.name?.common}}</p>
            </div>

            <div class="sm:mt-0 sm:flex sm:flex-col sm:items-start">
              <h2 class="font-bold text-xs uppercase tracking-wider opacity-50">Capital</h2>
              <p class="text-xl sm:text-xl">{{this.country()?.capital?.[0] ?? "N/A"}}</p>
            </div>
          </div>

          <div class="w-24 h-full sm:w-28 sm:h-auto">
            <img
              [src]="this.country()?.flags?.png"
              alt=""
              class="rounded-md bg-cover bg-right opacity-70 border self-start sm:self-center">
          </div>

        </div>
      } @else {
        <div class="text-center text-xl sm:flex sm:items-center min-h-20 justify-center items-center">
          <p class="text-xl sm:text-xl opacity-50">Pick a country on the map</p>
        </div>
      }
    </spartan-card>
  </div>
</div>
