<div class="flex w-full items-center justify-center text-white">
  <button hlmBtn variant="ghost" align="end" [brnMenuTriggerFor]="menu" size="icon">
    <hlm-icon size='sm' name="radixHamburgerMenu" />
  </button>
</div>
<ng-template #menu>
  <hlm-menu class="min-w-40 bg-white mr-2">
    <hlm-menu-group>
      <button hlmMenuItem>
        <span>About</span>
      </button>

      <button hlmMenuItem>
        <span>Billing</span>
      </button>

      <button hlmMenuItem>
        <span>Settings</span>
      </button>
    </hlm-menu-group>

  </hlm-menu>
</ng-template>

<ng-template #invite>
  <hlm-sub-menu>
    <button hlmMenuItem>
      <hlm-icon name="radixEnvelopeClosed" hlmMenuIcon />
      Email
    </button>

    <button hlmMenuItem>
      <hlm-icon name="radixChatBubble" hlmMenuIcon />
      Message
    </button>
    <hlm-menu-separator />
    <button hlmMenuItem>
      <hlm-icon name="radixPlusCircled" hlmMenuIcon />
      <span>More</span>
    </button>
  </hlm-sub-menu>
</ng-template>
