<div class="flex w-full items-center justify-center text-white">
  <button hlmBtn variant="ghost" align="end" [brnMenuTriggerFor]="menu" size="icon">
    <hlm-icon size="sm" name="radixHamburgerMenu" />
  </button>
</div>
<ng-template #menu>
  <hlm-menu class="min-w-40 bg-white">
    <hlm-menu-group>
      <button hlmMenuItem>
        <a routerLink="/" routerLinkActive="text-blue-oyster font-bold" [routerLinkActiveOptions]="{exact:
        true}">Home</a>
      </button>

      <button hlmMenuItem>
        <a routerLink="/about" routerLinkActive="text-blue-oyster font-bold" [routerLinkActiveOptions]="{exact:
        true}">About</a>
      </button>

    </hlm-menu-group>
  </hlm-menu>
</ng-template>
