<main class="relative w-full bg-white p-6" style="min-height: calc(100vh - 208px - 96px)">
  <div class="mx-auto max-w-[700px]">
    <h2 class="mb-4 text-3xl font-bold">About</h2>
    <p class="my-6">
      Are you curious about the diverse countries that make up our world? Look no further! The Country Labs app
      provides an immersive journey through the globe, allowing you to explore and learn about different countries
      effortlessly.
    </p>

    <h3 class="my-4 text-xl font-bold">Features</h3>
    <ul class="list-disc">
      <li class="ml-6 mb-4">Interactive Map: Navigate the world with a dynamic map featuring markers for every country.</li>

      <li class="ml-6 mb-4">
        Country Details: Click on a marker to reveal essential information about each country, including its name,
        capital, and a national flag.
      </li>

      <li class="ml-6 mb-4">
        Insights: Dive deeper into the cultural and statistical aspects of a country. Our accordion-style interface
        presents additional details such as population, currency, and languages spoken.
      </li>
    </ul>

    <p class="my-6">
      Embark on a journey of discovery and broaden your understanding of the world. Our Country Labs app is designed
      to make learning about different cultures, languages, and geographies an enjoyable and enriching experience.
    </p>

    <p class="my-6">Happy exploring!</p>
  </div>
</main>
